.transactions {
  display: none;
  height: 100%;
  min-width: 300px;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 10px 0px 5px 0px;
  opacity: 0%;
  visibility: hidden;
  transition: 0.5s ease-in-out;
}

.transaction-header,
.back-budgets,
.next-graphs {
  display: none;
  visibility: hidden;
  opacity: 0%;
  transition: 0.5s ease-in-out;
}

.transactions-form {
  display: none;
  width: 80%;
  height: 50%;
}

.transaction-list {
  display: grid;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.transaction-list input,
select {
  width: 95%;
  background-color: #3a1463;
  color: #daa8f7;
  border: 3px solid #daa8f7;
  border-radius: 10px;
  padding: 5px 5px;
  font-family: "DotGothic16", sans-serif;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="white" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.transaction-list input:focus {
  border: 3px solid #d97b0f;
  outline: none;
}

.back-budgets {
  align-self: flex-start;
  padding: 30px;
  color: #ffffff;
  font-size: 30px;
  visibility: hidden;
  opacity: 0%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button-animation-2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 5px dotted #d97b0f;
  border-left: 5px dotted #d97b0f;
  transform: rotate(45deg);
  opacity: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

.button-animation-3 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-bottom: 5px dotted #d97b0f;
  border-right: 5px dotted #d97b0f;
  transform: rotate(-45deg);
  opacity: 100%;
}

.next-graphs {
  align-self: flex-end;
  padding: 30px;
  color: #ffffff;
  font-size: 30px;
  visibility: hidden;
  opacity: 0%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 200px;
  height: 100px;
}

.transactions-fieldset {
  grid-template-columns: [row1-start] 30% 20% 20% [row1-end] 20%;
}

@media screen and (min-width: 1135px) {
  .transactions-fieldset {
    grid-template-columns: [row1-start] 20% 50% 15% [row1-end] 10%;
  }
}
